# Base directories
REPODIR=~/github/scMOCHA-data
ISILON_BASE="/home/cliu68/project/scmocha"

# Repository paths
HIGHRESDIR=${REPODIR}/high-res
DATADIR=${REPODIR}/data
BASEDIR=${REPODIR}/data
ZZZDIR=${REPODIR}/analysis/zzz
# CLEANDATADIR=${DATADIR}/zzz/clean-data
CLEANDATADIR=${ZZZDIR}/clean-data

# Output directories (isilon)
OUTDIR=${ISILON_BASE}/MANUSCRIPTFIGURES
OUTDIRNOTUSE=${ISILON_BASE}/MANUSCRIPTFIGURES-notuse

# DuckDB databases
DUCKDB_PATH=${ZZZDIR}/clean-data/all_hetero_af.cell.duckdb.1.2.1
DUCKDB_PATH_COV=${ZZZDIR}/db/DUCKDB/cov.duckdb